.article{
	
	color: #3b414f;
	padding-top:10px;
	background-color:#fff;
	border-bottom: 1px solid #cecece;
}

.article a{
	
	color:#e67e22;
	
}


.titreArticle{
	
	
}

.corpsArticle{
	
	margin:0 auto;
	padding-bottom:20px;
	
}


