html{
	position: relative;
  	min-height: 100%;
}

 
 
/*Opera Fix*/
body {
     margin-bottom: 70px;
}

/*début page*/



.page{
	background-color:#fff;
}


/*pied de page*/
footer{	
 	position: absolute;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
      	height: 60px;	
	border-top: 1px solid #757575;
	text-align:center;
	padding:10px 10px 10px 0;
	color: #fff;
	background-color:#272727;
	
}

footer a
{
	color:#e67e22;
}


